<style>
#block-be6e7592251218bfa68b {
    margin-bottom: -21px;
}
@media only screen and (min-width: 650px) {
    #block-be6e7592251218bfa68b .sqs-block-content{
        width: 95% !important;
    }
}

#jump-to p{
    letter-spacing: 0px;
    color: grey;
}
#jump-to a{
    transition: .4s ease-in-out;
    font-weight: 600;
    text-decoration: none !important;
    color: #333;
    letter-spacing: .2px;
    border-bottom: none;
    padding: 3px;
    transition: .3s ease-in-out;
    font-size: 100%;
    line-height: 1em;
}
#jump-to a:hover{
    border-bottom: 2px solid #FFA6A6 !important;

}
@media only screen and (max-width: 650px) {
    #jump-to p {
        font-size: 90%;
    }
    #jump-to a {
        font-size: 90%;
    }
}

</style>