/* Styles */

/* COLORS */
:root {
    --black: #1B1F23;
    --white: #FAFAFA;
    --gray-01: #E1E4E8;
    --gray-02: #959DA5;
    --gray-03: #586069;
    --gray-04: #2F363D;
    --gray-05: #1B1F23;
}
