/* Styles */

/* ===============
COLORS 
=============== */
:root {
    --black: #1B1F23;
    --white: #FAFAFA;
    --gray-01: #E1E4E8;
    --gray-02: #959DA5;
    --gray-03: #586069;
    --gray-04: #2F363D;
    --gray-05: #1B1F23;
    --darkbg: #F0F0F0;
    --lightbg: #FAFAFA;

    --blue: #669CFF;
    --text: #333333;
    --pink: #FD7373;
    --yellow: #D8CF5F;
    --purple: rgb(148, 110, 221);
    --cornellred: #f05354;
    --facebookblue: #4267b2;
    --green: #76ad44;
    --orange: #ED9B30;
}
/*PINK*/
.pink {
    color: var(--pink) !important;
}
.pink:before,
.pink:after {
    background-color: var(--pink);
}
/*BLUE*/
.blue {
    color: var(--blue) !important;
}
.blue:before,
.blue:after {
    background-color: var(--blue);
}
/*CORNELL RED*/
.cornellred {
    color: var(--cornellred) !important;
}
.cornellred:before,
.cornellred:after {
    background-color: var(--cornellred);
}
/*FACEBOOK BLUE*/
.facebookblue {
    color: var(--facebookblue) !important;
}
.facebookblue:before,
.facebookblue:after {
    background-color: var(--facebookblue);
}
/*ORANGE*/
.orange {
    color: var(--orange) !important;
}
.orange:before,
.orange:after {
    background-color: var(--orange);
}
/*PURPLE*/
.purple {
    color: var(--purple) !important;
}
.purple:before,
.purple:after {
    background-color: var(--purple);
}
/*YELLOW*/
.yellow {
    color: var(--yellow) !important;
}
.yellow:before,
.yellow:after {
    background-color: var(--yellow);
}
/*GREEN*/
.green {
    color: var(--green) !important;
}
.green:before,
.green:after {
    background-color: var(--green);
}
/*DARK BG*/
.darkbg {
    background-color: var(--darkbg) !important;
}

/* ===============
FONTS 
=============== */
@font-face {
    font-family: 'SF-Display';
    src: url(../fonts/SF-Pro-Display-Bold.woff);
    font-weight: bold;
}
@font-face {
    font-family: 'SF-Display';
    src: url(../fonts/SF-Pro-Display-Medium.woff);
    font-weight: 500;
}
@font-face {
    font-family: 'SF-Display';
    src: url(../fonts/SF-Pro-Display-Regular.woff);
    font-weight: normal;
}

/*Font Changes*/
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
h5 {
    text-transform: uppercase;
    margin-top: 1vh !important;

}
h4 {
    margin-top: 1vh !important;
}
p, li {
    margin-top: 1vh;
    margin-bottom: 1vh;
    line-height: 1.5;
}
@media screen and (min-width: 450px) {
    h1 {
        font-size: calc(36px + 36* ((100vw - 320px) / 680));
    }
    h2 {
        font-size: calc(30px + 30 * ((100vw - 320px) / (680)));
    }
    h3 {
        font-size: calc(18px + 18 * ((100vw - 320px) / (680)));
    }
    h4 {
        font-size: calc(18px + 6 * ((100vw - 320px) / (680)));
    }
    h5 {
        font-size: calc(16px + 4 * ((100vw - 320px) / (680)));
    }
    h6 {
        font-size: calc(16px + 2 * ((100vw - 320px) / (680)));
    }
    p, li {
        font-size: calc(14px + 6 * ((100vw - 320px) / (680)));
    }
    .caption {
        font-size: calc(12px + 6 * ((100vw - 320px) / (680)));
    }
}

/*Font Sizes*/
@media screen and (min-width: 1000px) {
    h1 {
        font-size: 72px;
    }
    h2 {
        font-size: 60px;
    }
    h3 {
        font-size: 36px;
    }
    h4 {
        font-size: 30px;
        margin: 0;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 22px;
    }
    p, li {
        font-size: 18px;
    }
    .caption {
        font-size: 16px !important;
        opacity: .8;
    }
}

/* ===============
GLOBAL 
=============== */
html {
    animation: 1.0s ease-in fade-in;
    scroll-behavior: smooth; 
}
img {
    -webkit-user-drag: none;
}
body {
    background-color: var(--lightbg);
    font-family: 'SF-Display' !important;
    padding: 0;
    margin: 0;
}

/* ===============
GRID 
=============== */
.thegrid {
    width: 90%;
    margin: 0 auto;
}
.content-grid {
    width: 90%;
    margin: 0 auto;
    padding-top: .5em;
    padding-bottom: .5em;
}
/*Desktop*/
@media screen and (min-width: 768px) {
    .thegrid {
        width: 80%;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .content-grid {
        width: 60%;
        padding-top: 2em;
        padding-bottom: 2em;


    }
}
.c12 {
    grid-column: 2 /12;
}
.c6 {
    grid-column: 4 / 10;
}
.c6-left {
    grid-column: 1 / 7;
}
.c6-right {
    grid-column: 8 / 12;
}

/* ===============
DESIGNS 
=============== */
.shadow {
    box-shadow: 0 0 12px 0 var(--gray-01);
}
.image {
    width: 80%; 
    margin: 0 auto;
    margin-left: 10%;
    margin-top: 2vh;
}
.centered {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.uppercase {
    text-transform: uppercase;
}
.italic {
    font-style: italic;
}
.medium {
    font-weight: 500;
}
.caption {
    margin: 0 auto;
    text-align: center;
    color: var(--gray-03);
    margin-bottom: 2vh;
}
.hr {
    border-bottom: 1px solid var(--gray-01) !important; 
    width: 90%;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 4vh;
}
.content-grid ul li {
    list-style-type: disc;
    margin-left: 8%;
}
.withoutH5 {
    margin-top: 4vh !important;
}

/*Mobile*/
@media screen and (max-width: 768px) {
    .image {
        width: 90%; 
        margin-left: 5%;
    }
}
.link {
    margin: 0 auto;
    padding: 0;
    position: relative;
}
/*Desktop*/
@media screen and (min-width: 768px) {
    .link {
        transition: all 0.2s ease-in-out;
    }
    .link:before,
    .link:after {
        content: "";
        position: absolute;
        bottom: -4px;
        width: 0px;
        height: 2px;
        margin: 5px 0 0;
        transition:  all 0.2s ease-in-out;
        transition-duration: 0.5s;
        opacity: 0;
    }
    .link:before {
        left: 50%;
    }
    .link:after {
        right: 50%;
    }
    .link:hover {
        cursor: pointer;
        opacity: .8;
    }
    .link:hover:before,
    .link:hover:after {
        width: 50%;
        opacity: 1;
    }
}

.justify {
    text-align: justify;
}


/* ===============
SCROLL TO TOP 
=============== */
.scroll-to-top {
    position: fixed;
    bottom: 11%;
    right: 4em;
    z-index: 99;
    width: 1.5em;
    height:1.5em;
    cursor: pointer;
    outline: none !important;
    background: url(../icons/up.svg) center / contain no-repeat;
    opacity: 0.45;
    transition: 0.28s;
}
.scroll-to-top:hover {
    opacity: 1;
    transition: 0.28s;
}
.scroll-to-top.no-display {
    opacity: 0;
}

/*mobile*/
@media screen and (max-width: 768px) {
    .scroll-to-top {
        display: none;
    }
}

/* ===============
NAVIGATION 
=============== */
header {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    background-color: black;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
.jp a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    text-decoration: none;
    color: var(--darkbg);
}
.jp {
    margin: 0;
    font-size: 17px;
    text-decoration: none;
}
.main-nav {
    margin-top: -10px;
}
.main-nav a {
    font-size: 16px;
    color: var(--gray-02);
    font-weight: 500;
}
.main-nav a:hover {
    color: var(--gray-02);
    transition: .5s ease-in-out;
}
.main-nav .active {
    color: var(--darkbg);
}
.header {
    padding-top: .5em;
    padding-bottom: .5em;
}
@media (min-width: 300px) {
    .header,
    .main-nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        max-width: 1150px;
    }
}
@media (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: var(--lightbg);
        width: 90%;
    }
    .main-nav .active {
        color: black;
    }
    .main-nav {
        margin-right: 40px;
        margin-top: 10px;
    }
    .jp {
        margin-left: 40px;
        font-size: 1.45em;
    }
    .jp a {
        padding-left: 5px !important;
        padding-right: 5px !important;
        color: black;
    }
    .main-nav a:hover {
        color: black;
    }
    .main-nav a {
        margin: 10px 10px;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        font-size: 18px;
    }
    header a {
        position: relative;
    }
    header a:after {
        content: '';
        position: absolute;
        width: 0; height: 3px;
        display: block;
        margin-top: 3px;
        right: 0;
        background: linear-gradient(120deg, #5591FF 0%, #42b0f4 100%);
        transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
        -webkit-transition: width .5s ease;
    }
    header a:hover:after {
        width: 100%;
        left: 0;
        background: linear-gradient(120deg, #5591FF 0%, #42b0f4 100%);;
    }
}

/* ===============
PARALLAX 
=============== */
.container {
    max-width: 100%;
    margin: 0 auto;
}
.parallax {
    min-height: 550px;
    background: transparent;
    padding: 20px;
}
#marble-para {
    min-height: 350px;
}
.projectParallax {
    min-height: 450px;
    background: transparent;
    padding: 20px;
}
.paratext {
    padding-top: 14%;
    padding-bottom: 10%;
}
.para1 {
    z-index: 2;
    position: relative;
    text-align: center;
}
.para2 {
    z-index: 2;
    position: relative;
    text-align: center;
    font-weight: 500;
    width: 50%;
    margin: 0 auto;
    line-height: 1.45em;
    margin-top: 1vh;
}
.projectTitle,
.projectTitle2 {
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.projectTitle {
    font-weight: 700;
}
.projectTitle2{
    font-weight: 500;
    text-transform: none !important
}
/*Mobile Parallax*/
@media screen and (max-width: 768px) {
    .para2 {
        margin-top: 2vh;
    }
    #marble-para,
    .projectParallax {
        min-height: 100px;
    }
    .projectTitle2{
        font-size: 16px;
    }
    /*
    .parallax-slider {
    width: 100% ;
}
    */
}

/*Cornell FB Underline*/
.lineswipe {
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: color 0.2s ease;
}
.lineswipe:hover::after, .lineswipe:hover::before {
    display: block;
    width: 100%;
    left: 0;
    bottom: 10px;
}
.lineswipe::before {
    -webkit-transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
}
.lineswipe::after {
    -webkit-transition:width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
}
.lineswipe::after, .lineswipe::before {
    content: "";
    position: absolute;
    width: 0;
    right: 0;
    height: 10px;
    bottom: 10px;
    z-index: -1;
}
.cornelllineswipe {
    color: var(--cornellred);
}
.cornelllineswipe::before {
    background: #ec343457;
}
.facebooklineswipe {
    color: var(--facebookblue);
}
.facebooklineswipe::before {
    background: #4267b24f;
}

@media screen and (max-width: 992px) {
    .parallax {
        min-height: 300px;
        padding: 0px;
    }
}

/* ===============
PROJECTS GRID 
=============== */
#myProjects {
    margin-top: 45px !important;
    text-align: center !important;
    border-bottom: 1px solid var(--gray-01) !important; 
    width: 83%;
    margin-bottom: 20px !important;
    line-height: .1em !important;
    margin-left: 9% !important;
}
#myProjects span { 
    background: var(--lightbg); 
    padding: 0 12px !important; 
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image-container img {
    border-radius: 10px;
    display: block;
}
.image-container {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-in-out;
    border-radius: 10px;
}
.eater-overlay {
    background-color: rgba(198, 103, 109, 0.65); /*Eater background img color w/ .65 opacity*/
}
.explornell-overlay {
    background-color: rgba(148, 110, 221, 0.65); /*Explornell background img color w/ .65 opacity*/
}
.instagram-overlay {
    background-color: rgba(218, 159, 93, 0.75); /*Instagram background img color w/ .65 opacity*/
}
.uplift-overlay {
    background-color: rgba(213, 201, 83, 0.65); /*Uplift background img color w/ .65 opacity*/
}
.cureviews-overlay {
    background-color: rgba(77, 143, 219, 0.70); /*CU Reviews background img color w/ .65 opacity*/
}
.dailyui-overlay {
    background-color: rgba(120, 172, 74, 0.65); /*Daily UI background img color w/ .65 opacity*/
}
.overlay h3 {
    color: white;
    position: absolute;
    text-shadow: 2px 4px 8px rgba(0,0,0,0.3);
    top: 50%;
    left: 51.5%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
/*Only hover on DESKTOP*/
@media screen and (min-width: 700px) {
    .image-container:hover .overlay {
        opacity: 1;
        transition: .3s ease-in-out;
    }
    .image-container:hover {
        transition: .3s ease-in-out;
        transform: scale(1.03);
    }
    .image-container:hover .overlay h3{
        animation: slide-up .3s ease-out;
    }
    .mobile-no-hover {
        display: none !important;
    }
    .image-container img {
        box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.3);
    }
}

.mobile-no-hover {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 2vh;
}

.overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 5px;
}

/*Mobile*/
@media screen and (min-width: 375px) {
    .image-container {
        width: 85%;
        margin: 12.5px 25px;
    }
}
/*Midway*/
@media screen and (min-width: 700px) {
    .image-container {
        width: 41%;
        margin: 20px;
    }    
}
/*Desktop*/
@media screen and (min-width: 1300px) {
    .image-container {
        width: 45%;
        margin: 30px;
    }
    .grid {
        margin-left: 2%;
        margin-right: 2%;
    }
}
.image-container img {width: 100%;}

/* ===============
GET IN TOUCH 
=============== */
.line {
    text-align: center !important;
    margin-top: 22px !important;
    margin-bottom: 9px !important;
}

.line a{
    position: relative;  
    font-size: 98% !important;
    transition: .35s ease-in-out;
    text-decoration: none;
}
.line a:hover::before, .line a:hover::after {
    color: black !important;
    bottom: -7px;
    height: 10px;
    transition: .35s ease-in-out;
}
.line a::after {
    display: block;
    content: '';
    height: 12px;
    transition: .35s ease-in-out;
    width: 92%;
    opacity: .2;
    position: absolute;
    bottom: 1px;
    left: 30px;
}
@media screen and (max-width: 992px) {
    .line a::after {
        left: 24px;
    }
}
.line a::before {
    -webkit-transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
    transition: .35s ease-in-out;
}
.line a::after {
    -webkit-transition:width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    transition: .35s ease-in-out;
}
/*Blue Line*/
.blueline a{
    color: var(--blue) !important;
    text-transform: uppercase;
}
.blueline a::after {
    background: var(--blue) !important;
}
/*Pink Line*/
.pinkline a{
    color: var(--pink) !important;
    text-transform: uppercase;
}
.pinkline a::after {
    background: var(--pink) !important;
}
/*Yellow Line*/
.yellowline a{
    color: var(--yellow) !important;
    text-transform: uppercase;
}
.yellowline a::after {
    background: var(--yellow) !important;
}
/*Green Line*/
.greenline a{
    color: var(--green) !important;
    text-transform: uppercase;
}
.greenline a::after {
    background: var(--green) !important;
}



/* ===============
FOOTER 
=============== */
.footer {
    background-color: var(--darkbg);
    margin-top: 5vh;
    padding-top: 2vh;
    padding-bottom: 5vh;
    width: 100% auto;
}
.social {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
.social a {
    text-decoration: none;
}
.icon {
    width: 45px;
}
.icon:hover {
    transform: scale(1.3);
    transition: .5s ease;
}

/*Mobile Footer*/
@media screen and (min-width: 375px) {
    .icon {
        width: 55px;
    }
}
.name {
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    color: var(--gray-04)
}
@media screen and (min-width: 768px) {
    .name {
        font-size: 16px;
    }
}
#blueStar {
    color: var(--blue);
}
#pinkStar {
    color: var(--pink);
}
#yellowStar {
    color: var(--yellow);
}
#greenStar {
    color: var(--green);
}

/* ===============
ANIMATIONS 
=============== */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(0.05%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slide-up {
    0% {
        /*        margin-top: 40vh;*/
        /*        transform: translateY(287%);*/
        top: 100%;
    }
    100% {
        /*                transform: translateY(-50%);*/
        /*        margin-top: 0;*/

        top: 50%;
    }
}

/* ===============
ABOUT PAGE 
=============== */
.places {
    text-align: center;
    margin: 0 auto;
    margin-top: 2vh;
}
.places a{
    text-decoration: none;
    text-transform: normal;
    margin-left: .5vw;
    margin-right: .5vw;
    font-weight: 500;
}
.cornellline a{
    color: var(--cornellred);
}
.cornellline a::after {
    background: var(--cornellred);
    width: 101%;
    left: 0;
}
.voxline a{
    color: var(--orange);
}
.voxline a::after {
    background: var(--orange);
    width: 101%;
    left: 0;
}
.facebookline a{
    color: var(--facebookblue);

}
.facebookline a::after {
    background: var(--facebookblue);
    width: 101%;
    left: 0;
}
/*Mobile*/
@media screen and (max-width: 768px) {
    .places {
        display:none;
    }
    .about-me-text {
        margin-top: 3vh;
    }
}
.gray {
    color: var(--gray-02);
}
.about-me-text {
    flex-grow: 1;
}
.about-me-image {
    width: 60%;
    margin: 0 auto;
    margin-top: 3vh;
}
.about-me-image img{
    width: 100%;
    border-radius: 4px;
}
.about-me-container,
.about-me-container2 {
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}
/*Desktop*/
@media screen and (min-width: 1068px) {
    .about-me-container {
        display: flex;
        width: 75%;
        margin-top: 3em;
        margin-bottom: -3vh;
    }
    .about-me-container2 {
        width: 75%;
        margin-top: 3em;
        margin-bottom: -3vh;
    }
    .about-me-text {
        margin-right: 4%;
    }
    .about-me-image img{
        width: 30vw;
    }
}
.bottom-para {
    margin-top: 3vh !important;
}

/* ===============
EATER PAGE 
=============== */
.jumped {
    color: grey;
}
.jump-to a{
    transition: .2s ease-in-out;
    font-weight: 500;
    text-decoration: none !important;
    color: black;
    letter-spacing: .2px;
    border-bottom: none;
    padding: 3px;
    font-size: 100%;
    line-height: 1em;
}
.jump-to a:hover{
    color: var(--pink);
}

.flexContainer {
    flex-direction: row;
    margin: 0 auto;
}
.flexText,
.flexImage {
    flex-grow: 1;
}
.flexImage {
    margin: 0 auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
}
.flexImage img{
    width: 50vw;
    border-radius: 4px;
    margin: 0 auto !important;
}
/*Desktop Eater Page*/
@media screen and (min-width: 767px) {
    .flexContainer {
        display: flex;
    }
    .flexText h5 {
        margin-top: 3vh !important;
    }
    .flexImage img{
        width: 40vh;
    }
    .flexImage {
        margin-left: 5vw;
    }
    .objective {
        width: 65%; 
        text-align: center;
        margin: 0 auto;
    }
    .objective-list {
        width: 70%;
    }
}
.objective {
    margin-bottom: 3vh;
}
.objective-list li{
    list-style-type: disc;
}
.objective-list {
    width: 93%;
    margin: 0 auto;
}
.twoImages {
    display: flex;
}
.number {
    margin-right: 1%;
}
.quote {
    font-style: italic;
    padding-left: 4%;
    font-size: 16px;
    border-left: 1px solid var(--gray-02);
    margin-left: 1vh;
    color: var(--gray-03);
    opacity: .8;
}
/*Mobile Eater Page*/
@media screen and (max-width: 767px) {
    .quote {
        font-size: 14px;
    }
    .persona-stack {
        display: none;
    }
    .top-of-page {
        margin-top: 4vh;
    }
}
.biggerimage {
    margin-top: -3vh;
}
/*Desktop Eater Page*/
@media screen and (min-width: 768px) {
    .personas {
        display: none;
    }
}

.feature {
    display: flex;
}
.pairings p{
    text-align: center;
    text-transform: uppercase;
}
#obsessive {
    border-bottom: 3px solid #ffb6d3;
}
#moderate {
    border-bottom: 3px solid #d8daff;
}
#casual {
    border-bottom: 3px solid #ffcda4;
}

/*Carousel*/
.scroll {
    padding-top: 1.5em;
    padding-left: 0.5em;
    overflow-x: scroll;
    white-space: nowrap;
}

.scroll-grid {
    width: 85%;
    margin: 0 auto;
    margin-top: -5vh;
    margin-bottom: 2vh;
}
.scrollphoto {
    position: relative;
    width: 55%;
    border-radius: 0.625vw;
    transition: 0.28s;
    box-shadow: 0 0 8px 0 rgba(225,228,232,.5);
    margin-right: 15px;
}
.scrolltext {
    text-align: center;
    color: var(--gray-03);
    font-weight: 500;
    font-size: 17px;
}

/*Mobile*/
@media screen and (max-width: 768px) {
    .scroll-grid {
        width: 90%;  
        margin-top: -3vh;
        margin-bottom: 2vh;  
    }
    .scrollphoto {
        width: 90%;
        margin-right: 10px;
    }
    .scrolltext {
        font-size: calc(14px + 6 * ((100vw - 320px) / (680)));

    }
}

/*Desktop*/
@media screen and (min-width: 768px) {
    .scrollphoto:hover {
        transform: scale(1.01);
        transition: 0.28s;
    }
}
.quote2 {
    font-style: italic;
    padding-left: 2%;
    font-size: 16px;
    border-left: 1px solid var(--gray-02);
    margin-left: 4vh;
    color: var(--gray-03) ;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.big-image {
    margin-top: -3vh;
    margin-bottom: -4vh;
}
.small-image {
    width: 50%; 
    margin: 0 auto;
    margin-left: 30%;
    margin-top: -2vh;
    padding-bottom: 2em;
}
/*Mobile*/
@media screen and (max-width: 768px) {
    .big-image {
        margin-top: -1vh;
        margin-bottom: -2vh;
    }
    .small-image {
        width: 90%;
        margin: 0 auto;
        margin-left: 10%;
        margin-bottom: .5em;
    }
}

ol li{
    padding-left: 8px;
}
.pair {
    text-align: center;
}
.design-decisions-header {
    margin-top: 5vh;
}
.gradient-text {
    background: -webkit-linear-gradient(var(--gray-02), var(--pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.smaller {
    width: 65%; 
    margin-left: 18%; 
    margin-top: 3vh;
}
.smaller2 {
    width: 45%; 
    margin-left: 28%; 
    margin-top: 3vh;
}
.finalflowimage {
    width: 90%; 
    margin: 0 auto;
    margin-left: 5%;
    margin-top: 2vh;
}

/*Mobile*/
@media screen and (max-width: 768px) {
    .smaller {
        width: 90%;
        margin-left: 5%;
    }
    .smaller2 {
        width: 80%;
        margin-left: 10%;
    }

}

.twoprotos {
    width: 90%;
    margin: 0 auto;
}
/*Mobile Prototypes*/
@media screen and (max-width: 1000px) {
    .prototype-desktop {
        display: none;
    }
}
/*Desktop Prototypes*/
@media screen and (min-width: 1000px) {
    .prototype-mobile {
        display: none;
    }
}
.proimage {
    flex: 50%;
}
.proto-images {
    display: flex;
    margin: 0 auto;
    margin-top: 3vh;
    align-content: center;
    padding-right: 7vw;
    margin-bottom: 2vh;
    padding-left: 7vw;
}

.proto-images img {
    width: 90%;
}

@media screen and (min-width: 1233px) {
    iframe {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 1000px) {
    .twoprotos {
        display: none;
    }
}

/* ===============
MORE OF MY PROJECTS 
=============== */
.more-projects {
    text-align: center; 
    color: var(--gray-02); 
    font-weight: normal; 
    margin-top: 2vh;
}
.more-projects a {
    line-height: 1.7em;
}
.more-projects-pink,
.more-projects-yellow,
.more-projects-green {
    font-weight: bold;
    color: black;
    transition: .35s ease-in-out;
    padding: 5px;
    border-radius: 4px;
    line-height: 2em;
}

/*Desktop*/
@media screen and (min-width: 768px) {
    .more-projects-pink:hover {
        background-color: rgba(253, 115, 115, 0.4); /* opacity .4 of pink*/

    }
    .more-projects-yellow:hover {
        background-color: rgba(216, 207, 95, 0.4); /* opacity .4 of yellow*/
    }
    .more-projects-green:hover {
        background-color: rgba(118, 173, 68, 0.4); /* opacity .4 of yellow*/
    }
}

/* ===============
UPLIFT PAGE 
=============== */

/* ===============
DAILY UI 
=============== */
.daily-image {
    flex: 40%;
    /*    margin: 10px;*/
}
.hover:hover {
    transition: .3s ease-in-out;
    transform: scale(1.03);
}
.daily-image h6, 
.daily-image p {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/*Mobile*/
@media screen and (max-width: 768px) {
    .daily-image {
        flex: 100%;
    }
}
/*
.story-photo {
flex: 33.33%;
}
.story-photo img {
border-radius: 4px;
}*/
