/* Styles */

/* COLORS */
:root {
    --black: #1B1F23;
    --white: #FAFAFA;
    --gray-01: #E1E4E8;
    --gray-02: #959DA5;
    --gray-03: #586069;
    --gray-04: #2F363D;
    --gray-05: #1B1F23;

    --blue: #669CFF;
    --text: #333333;
    --pink: #FD7373;
    --yellow: #b8b04d;
    --green: #76ad44;
    --darkbg: #f3f3f3;
    --lightbg: #FAFAFA;
}

/*Fonts*/
@font-face {
    font-family: 'SF-Display';
    src: url(../fonts/SF-Pro-Display-Bold.woff);
    font-weight: bold;
}
@font-face {
    font-family: 'SF-Display';
    src: url(../fonts/SF-Pro-Display-Medium.woff);
    font-weight: 500;
}
@font-face {
    font-family: 'SF-Display';
    src: url(../fonts/SF-Pro-Display-Regular.woff);
    font-weight: normal;
}

/*Font Changes*/
@media screen and (min-width: 450px) {
    h1 {
        font-size: calc(36px + 36* ((100vw - 320px) / 680));
    }
    h2 {
        font-size: calc(30px + 30 * ((100vw - 320px) / (680)));
    }
    h3 {
        font-size: calc(18px + 18 * ((100vw - 320px) / (680)));
    }
    h4 {
        font-size: calc(18px + 6 * ((100vw - 320px) / (680)));
    }
    h5 {
        font-size: calc(16px + 4 * ((100vw - 320px) / (680)));
    }
    h6 {
        font-size: calc(14px + 2 * ((100vw - 320px) / (680)));
    }
    p, li {
        font-size: calc(18px + 6 * ((100vw - 320px) / (680)));
    }
}

/*Font Sizes*/
@media screen and (min-width: 1000px) {
    h1 {
        font-size: 72px;
    }
    h2 {
        font-size: 60px;
    }
    h3 {
        font-size: 36px;
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 20px;
    }
    h6 {
        font-size: 16px;
    }
    p, li {
        font-size: 24px;
    }
}


/*GLOBAL*/
html {
    animation: 1.0s ease-in fade-in;
}
img {
    -webkit-user-drag: none;
}
body {
    background-color: var(--lightbg);
    font-family: 'SF-Display';
    padding: 0;
    margin: 0;
}

/*Nav*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    color: var(--blue);
    transition-duration: .5s;
}

.navbar .active {
    color: var(--blue);
}

/*Index*/


/*Parallax*/
.container {
    max-width: 100%;
    margin: 0 auto;
}

.parallax {
    min-height: 550px;
    background: transparent;
    padding: 20px;
}
.paratext {
    padding-top: 10%;
    padding-bottom: 10%;
}
.para1 {
    z-index: 2;
    position: relative;
    text-align: center;

}
.para2 {
    z-index: 2;
    position: relative;
    text-align: center;
    font-weight: 500;
    width: 50%;
    margin: 0 auto;
    line-height: 1.45em;
}

/*Cornell/FB Underline*/
#cu {
    color: #f14f4f;
    text-decoration: none;
}

#fb {
    color: #4267b2;
    text-decoration: none;
}

.cufb {
    position: relative;
    display: inline-block;
    transition: color 0.2s ease;
}
.cufb:hover::after, .cufb:hover::before {
    display: block;
    width: 100%;
    left: 0;
    bottom: 10px;
}
.cufb::after, .cufb::before {
    content: "";
    position: absolute;
    width: 0;
    right: 0;
    height: 10px;
    bottom: 10px;
    z-index: -1;
} 

#fb::before {
    -webkit-transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
    background: #4267b24f;
}
#fb::after {
    -webkit-transition:width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
}
#cu::before {
    -webkit-transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
    background: #ec343457;
}
#cu::after {
    -webkit-transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
}

@media screen and (max-width: 900px) {
    .parallax {
        min-height: 300px;
        padding: 0px;
    }
}

/*End Parallax*/

.grid {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image-container img {
    border-radius: 10px;
    /*    box-shadow: 0 5px 10px var(--gray-02);*/
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    display: block;
}

.image-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;g
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255,255,255, 0.9);
    border-radius: 10px;

}

.image-container:hover .overlay {
    opacity: 1;
}

.image-container:hover {
    transition: 0.28s;
    transform: scale(1.01);
}

.overlay h3 {
    color: black;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 5px;
}


/*Mobile*/
@media screen and (min-width: 300px) {
    .image-container {
        width: 85%;
        margin: 12.5px 25px;
    }
}
/*Midway*/
@media screen and (min-width: 700px) {
    .image-container {
        width: 41%;
        margin: 20px;
    }    
}
/*Desktop*/
@media screen and (min-width: 1300px) {
    .image-container {
        width: 45%;
        margin: 30px;
    }
    .grid {
        margin-left: 2%;
        margin-right: 2%;
    }

}

.image-container img {width: 100%;}


/*Lets Get In Touch*/
.line {
    text-align: center !important;
    margin-top: 22px !important;
    margin-bottom: 9px !important;
    text-transform: uppercase;
}
.line a {
    color: var(--blue) !important;
}
#mailto {
    position: relative;  
    font-size: 98% !important;
    transition: .35s ease-in-out;
    text-decoration: none;
}
#mailto:hover::before,  #mailto:hover::after {
    color: black !important;
    bottom: -7px;
    height: 10px;
    transition: .35s ease-in-out;
}

#mailto::after {
    display: block;
    content: '';
    height: 12px;
    transition: .35s ease-in-out;
    width: 92%;
    opacity: .2;
    background: var(--blue) !important;;
    position: absolute;
    bottom: 1px;
    left: 25px;
}
#mailto::before {
    -webkit-transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
    transition: .35s ease-in-out;
}
#mailto::after {
    -webkit-transition:width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    transition: .35s ease-in-out;
}

/*Footer*/
.footer {
    background-color: var(--darkbg);
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100% auto;
}

.social {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;

}
.social a {
    text-decoration: none;
}
.icon {
    width: 45px;
}
.icon:hover {
    transform: scale(1.3);
    transition: .5s ease;
}

/*Mobile*/
@media screen and (min-width: 300px) {
    .icon {
        width: 55px;
    }
}

.name {
    font-weight: 500;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
#blueStar {
    color: var(--blue);
}

/*ANIMATION*/
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(0.05%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

